* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0% 5em;
}

nav {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	font-family: "Orbitron";
	align-items: center;
	min-height: 20vh;
	justify-content: space-around;
	font-size: 1.6rem;

	ul {
		display: flex;
		list-style: none;
		align-items: center;
		// font-family: 'Orbitron';
		justify-content: space-between;

		> :nth-child(1) {
			text-decoration: underline;
			font-weight: 500;
		}
	}

	.button-group {
		// width: 110%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		// width: 60px;
		flex-wrap: wrap;

		// div {
		button {
			margin-left: 2em;
			height: 2.4em;
			width: 150px;
			font-family: "Poppins";
			font-size: 1rem;
			border: 2px solid black;
			border-radius: 0.8em;
			color: #525252;
			// font-size: ;
			background-color: transparent;
		}

		svg {
			margin-top: 10px;
		}
		// }
	}
}

.hero-container {
	display: flex;
	height: 80vh;
	align-items: center;
	justify-content: space-between;
	> :nth-child(5) {
		// z-index: 1;
		position: absolute;
		top: 10em;
	}

	> :nth-child(2) {
		position: absolute;
		left: 100em;
		top: 10em;
		right: 0%;
		max-width: fit-content;
	}

	> :nth-child(3) {
		position: absolute;
		left: 54em;
		top: 48em;
		right: 0%;
		max-width: fit-content;
	}

	.square {
		// height: 100px;
		z-index: -1;
		position: relative;
		top: 9em;
		left: 12em;
	}

	.globe {
		position: absolute;
		left: 64em;
		top: 8em;
	}

	.hero-container-right {
		width: 60%;
		min-height: 60vh;
		// margin-left: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		// z-index: 1;
		.hero-heading {
			font-size: 4rem;
			font-family: "Orbitron";
		}

		.hero-description {
			max-width: 72%;
			font-size: 1rem;
			color: #525252;
			font-family: "Poppins";
			text-align: center;
		}

		div {
			.button-email {
				margin-right: 10px;
				padding: 0% 2em;
				height: 2em;
				font-family: "Orbitron";
				font-size: 1.2rem;
				font-weight: 500;
				border: 2px solid #525252;
				border-radius: 0.6em;
				color: #525252;
				background-color: transparent;
			}

			.button-join {
				margin-left: 10px;
				padding: 0% 1.2em;
				height: 2em;
				font-family: "Orbitron";
				font-size: 1.2rem;
				font-weight: 500;
				border: 2px solid #525252;
				border-radius: 0.6em;
				color: white;
				background-color: black;
			}
		}

		>:nth-child(4) {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			h4 {
				color: #525252;
				font-size: 1.6rem;
				font-family: "Poppins";
				font-weight: 400;
				margin-bottom: 20px;
			}

			.icons {
				min-width: 16em;
				display: flex;
				justify-content: space-between;
			}
		}

		// .icons {
		// 	min-width: 400px;
		// }
	}
}
